.details-page {
    background-color: rgba(225, 225, 225, 0.294);
    border-radius: 12px;
    max-width: 500px;
    margin-inline: auto;
    padding: 25px;
    border: .9px solid #1dbe0853;
    position: relative;

    a.back-btn {
        text-decoration: none;
        color: #1dbe08c8;
        position: absolute;
        right: 25px;
        padding-bottom: 5px;


        &:hover {
            border-bottom: 1px solid #1dbe08c8;
        }
    }

    h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .details-container {
        margin-block: 25px;

        .contact-details {
            text-align: start;
        }

        .contact-avatar {
            border-radius: 100%;
            height: 70px;
        }

        p {
            gap: 12px;
        }
    }

    .actions {

        a,
        button {
            border: none;
            margin-inline: 15px;
            text-decoration: none;
            border-radius: 12px;
            font-size: 16px;
            padding: 11px;
            background-color: #1e1e1e;
            color: aliceblue;

            &:hover {
                color: #1dbe08c8;
            }

            transition: .2s color;
        }
    }
}